@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.main {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  width: 200px;
}

.store {
  margin-right: 20px;
}

.btn-mine, .btn-mine2 {
  background-color: white;
  border: none;
  font-size: 1.1em;
  color: rgb(92, 92, 92);
  border-radius: 50px;
  padding: 10px;
  width: 180px;
  margin: 15px 15px 0px 15px;
}
.btn-mine:hover, .btn-mine2:hover {
  animation: pulsate 1s ease-in-out infinite;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  color: black;
}

.btn-mine2 {
  padding: 5px;
  width: 140px;
  margin: 5px 15px 10px 20px;
}

.btn-mine3 {
  background-color: white;
  border: none;
  font-size: 1.1em;
  color: rgb(92, 92, 92);
  border-radius: 50px;
  padding: 5px;
  width: 140px;
  margin: 0 0 10px 0;
  border-style: solid;
  border-width: 1px;
}
.btn-mine3:hover {
  color: white;
  background-color: #00AF55;
}

.banner {
  overflow-x: hidden;
  display: flex;
}
.banner .banner-img2 {
  display: none;
}
@media screen and (max-width: 563px) {
  .banner {
    justify-content: center;
  }
  .banner .banner-img {
    display: none;
  }
  .banner .banner-img2 {
    display: flex;
    width: 100%;
    height: 300px;
  }
}

.banner-text {
  color: white;
  position: absolute;
  z-index: 20;
  margin-left: 90px;
  top: 170px;
}
.banner-text p {
  font-size: 20px;
}
@media screen and (max-width: 563px) {
  .banner-text {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
  }
}

.banner-img {
  position: relative;
  width: 150%;
  right: 180px;
}

.store-banner {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.store-banner h2 {
  font-size: 40px;
}
.store-banner img {
  width: 40px;
  height: 40px;
}

.pre-prods {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 90px;
}
@media screen and (max-width: 1275px) {
  .pre-prods {
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
  }
}

.pre-prod {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.pre-prod div {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.pre-prod div h3 {
  position: relative;
  left: 20px;
}
.pre-prod div p {
  position: relative;
  left: 20px;
  font-size: 16px;
}
@media screen and (max-width: 1275px) {
  .pre-prod div {
    width: 390px;
  }
}

.prod-img {
  position: absolute;
  top: 200px;
  width: 380px;
  height: 440px;
  top: -50px;
}

.back-banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  width: 390px;
  height: 400px;
  border-radius: 14px;
}

.prod-text1 {
  color: white;
  background-color: #0e1a25;
}

.prod-text2 {
  color: white;
  background-color: #60b3d1;
}

.prod-text3 {
  color: white;
  background-color: #c28660;
}

.prod-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  row-gap: 50px;
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 90px;
  position: relative;
  top: 140px;
}

.item {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: lightgrey;
  padding: 10px;
}
.item:hover {
  animation: pulsate 1s ease-in-out infinite;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  color: black;
}
.item img {
  width: 220px;
  height: 220px;
  position: relative;
  left: 66px;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
  100% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
